DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=34.224.102.35,98.90.14.144,ec2-98-90-14-144.compute-1.amazonaws.com,localhost,127.0.0.1

DB_NAME=commerceCore_db
DB_USER=commercecore
DB_PASSWORD=
DB_ROOT_PASSWORD=

# for docker-compose
DB_HOST=mysql
DB_PORT=3306



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=commercecore-media
AWS_S3_REGION_NAME=us-east-1


# Redis and Celery configurations

REDIS_URL=redis://redis:6379/0


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

LOW_STOCK_NOTIFICATION_EMAIL=




# Docker configuration for production environment

CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1