{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="auth-container">
    <div class="auth-card">

        <h1 class="auth-title">Login to CommerceCore</h1>

        <form method="post">
            {% csrf_token %}
            <table class="auth-form">
                {{ form.as_table }}
            </table>

            <button class="auth-btn login-btn" type="submit">
                Login
            </button>
        </form>

        <div class="auth-footer">
            <p>Don't have an account?</p>
            <a href="{% url 'register_user' %}" class="auth-btn signup-btn">
                Sign Up
            </a>
        </div>

    </div>
</div>