{% extends 'base.html' %}

{% block content %}

<div class="profile-container">

    <h1>My Addresses</h1>

    <a href="{% url 'add_address' %}" class="details-btn">
        Add New Address
    </a>

    <br><br>
    {% for address in addresses %}

    <div class="address-card">

        <h3>{{ address.full_name }}</h3>

        <p>{{ address.phone }}</p>

        <p>{{ address.address_line }}</p>

        <p>{{ address.city }}, {{ address.state }}</p>

        <p>{{ address.pincode }}</p>

        {% if address.is_default %}
            <strong>Default Address</strong>
        {% endif %}

        <br><br>

        <a href="{% url 'edit_address' address.id %}">
            Edit
        </a>

        <a href="{% url 'delete_address' address.id %}">
            Delete
        </a>

        {% if not address.is_default %}
            <a href="{% url 'set_default_address' address.id %}">
                Make Default
            </a>
        {% endif %}

    </div>

    {% endfor %}
</div>

{% endblock %}