{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="register-container">

    <h1 class="register-title">
        Create Your Account
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="register-btn" type="submit">
            Register
        </button>
    </form>

    <div class="register-footer">
        <p>Already have an account?</p>

        <a href="{% url 'login' %}" class="back-login-btn">
            Login
        </a>
    </div>

</div>