{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet"
      href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

<h1>List Products</h1>
    {% comment %} <ul>
        {% for p in products %}
            <p>
                {{ p.name }} - {{ p.category.name }} - {{ p.price }}<br>
                Tags:
                {% for t in p.tags.all %}
                    {{ t.name }},
                {% endfor %}
            </p>        
        {% endfor %}
    </ul> {% endcomment %}

    <div class="products-container">

        {% for p in products %}
        <div class="product-card">

            {% if p.image %}
                <img src="{{ p.image.url }}" class="product-image">
            {% else %}
                <img src="{% static 'images/no-image.png' %}" class="product-image">
            {% endif %}

            <div class="product-info">

                <a href="{% url 'product_detail' p.id %}">
                    <h2>{{ p.name }}</h2>
                </a>

                <p class="category">
                    {{ p.category.name }}
                </p>

                <p class="price">
                    ₹{{ p.price }}
                </p>

                <p class="tags">
                    {% for t in p.tags.all %}
                        {{ t.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                <p class="description">
                    {{ p.description }}
                </p>

                {% comment %} <p class="seller">
                    Seller: {{ p.user.username }}
                </p> {% endcomment %}

                <a class="cart-btn"
                href="{% url 'add_to_cart' p.id %}">
                Add to Cart
                </a>

            </div>

        </div>
        {% endfor %}

    </div>
    <div class="links"> 
        <a href="{% url 'view_cart' %}">View Cart</a> <a href="{% url 'dashboard' %}">Dashboard</a> 
    </div>

{% endblock %}
