{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet"
      href="{% static 'css/products.css' %}">

<link rel="stylesheet"
      href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}

<h1>List Products</h1>

    <div class="products-container">

        {% for p in products %}
        <div class="product-card">

            {% if p.image %}
                <img src="{{ p.image.url }}" class="product-image">
            {% else %}
                <img src="{% static 'images/no-image.png' %}" class="product-image">
            {% endif %}

            <div class="product-info">

                <a href="{% url 'product_detail' p.id %}">
                    <h2>{{ p.name }}</h2>
                </a>

                <p class="category">
                    {{ p.category.name }}
                </p>

                <p class="price">
                    ₹{{ p.price }}
                </p>

                <p class="tags">
                    {% for t in p.tags.all %}
                        {{ t.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                <p class="description">
                    {{ p.description }}
                </p>


                {% if p.stock > 0 %}

                    <a href="{% url 'add_to_cart' p.id %}"
                    class="cart-btn">

                    Add to Cart

                    </a>

                {% else %}

                    <p class="stock out-stock">
                        Out of Stock
                    </p>

                    <button class="disabled-btn">
                        Add to Cart
                    </button>

            {% endif %}


            </div>

        </div>
        {% endfor %}

    </div>
    <div class="links"> 
        <a href="{% url 'view_cart' %}">View Cart</a> <a href="{% url 'dashboard' %}">Dashboard</a> 
    </div>

{% endblock %}
