{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block css %}
<link rel="stylesheet"
      href="{% static 'css/product_detail.css' %}">
{% endblock %}

<div class="product-detail-container">

    <div class="product-image-section">

        <img src="{{ product.image.url }}"
             class="product-detail-image">

    </div>

    <div class="product-info-section">

        <h1>{{ product.name }}</h1>

        <p class="category">
            {{ product.category.name }}
        </p>

        <h2 class="price">
            ₹{{ product.price }}
        </h2>

        <p class="description">
            {{ product.description }}
        </p>

        {% if product.stock > 0 %}

            {% comment %} <p class="stock in-stock">
                In Stock: {{ product.stock }}
            </p> {% endcomment %}

            <a href="{% url 'add_to_cart' product.id %}"
            class="cart-btn">

            Add to Cart

            </a>

        {% else %}

            <p class="stock out-stock">
                Out of Stock
            </p>

            <button class="disabled-btn">
                Add to Cart
            </button>

        {% endif %}

    </div>

</div>


<hr>
<div class="rating-summary">

    {% if avg_rating %}

        <h2>
            ⭐ {{ avg_rating|floatformat:1 }}/5
        </h2>

        <p>
            {{ review_count }} Review{{ review_count|pluralize }}
        </p>

    {% else %}

        <p>
            No ratings yet.
        </p>

    {% endif %}

</div>


<div class="reviews-section">

    <h2>Customer Reviews</h2>

    {% for review in reviews %}

    <div class="review-card">

        <h4>
            {{ review.user.username }}
        </h4>

        <div class="star-rating">

            {% for i in "12345" %}

                {% if forloop.counter <= review.rating %}
                    ⭐
                {% endif %}

            {% endfor %}

        </div>

        <p class="review-comment">
            {{ review.comment }}
        </p>

    </div>

    {% empty %}

    <p>No reviews yet.</p>

    {% endfor %}

</div>






<div class="review-form-section">

    <h2>Add Review</h2>

    <form method="POST"
          action="{% url 'add_review' product.id %}">

        {% csrf_token %}

        {{ review_form.as_p }}

        <button type="submit"
                class="cart-btn">

            Submit Review

        </button>

    </form>

</div>

{% endblock %}