{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{% static 'css/base.css' %}">

    {% block css %}{% endblock %}

    <title>CommerceCore</title>
</head>

<body>
    <nav class="navbar">

        <!-- Left -->
        <div class="nav-left">

            <button class="menu-btn"
                    onclick="toggleSidebar()">
                ☰
            </button>

        <a href="{% url 'dashboard' %}" class="logo">
            CommerceCore
        </a>

        </div>

        <!-- Center -->
        <div class="nav-center">

            <form action="{% url 'list_products' %}"
                method="GET"
                class="search-form">

                <input type="text"
                    name="q"
                    placeholder="Search products"
                    value="{{ request.GET.q }}">

                <button type="submit">
                    Search
                </button>

            </form>

        </div>

        <!-- Right -->
        <div class="nav-right">

            <a href="{% url 'view_cart' %}"
            class="cart-link">

                🛒 Cart

            </a>

        </div>

    </nav>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">

        <a href="{% url 'dashboard' %}">
            Dashboard
        </a>
        <a href="{% url 'profile' %}">
            Profile
        </a>

        <a href="{% url 'list_products' %}">
            Products
        </a>

        <a href="{% url 'view_cart' %}">
            Cart
        </a>
        
        <a href="{% url 'my_orders' %}">
            My Orders
        </a>
    </div>

    <!-- Main Content -->
    <main class="main-content">

        {% block content %}

        {% endblock %}

    </main>

    <script>

        function toggleSidebar(){

            document
                .getElementById("sidebar")
                .classList.toggle("active");

        }

    </script>

</body>
</html>