{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet"
      href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}

    {% if cart_items %}

    <div class="cart-container">

        <h1>Your Cart</h1>

        {% for item in cart_items %}
        <div class="cart-item">

            {% if item.product.image %}
                <img src="{{ item.product.image.url }}"
                     class="cart-image">
            {% endif %}

            <div class="cart-info">

                <p class="product-name">
                    {{ item.product.name }}
                </p>

                <p class="product-price">
                    Price: ₹{{ item.product.price }}
                </p>

            <div class="quantity-controls">

                <a href="{% url 'decrease_quantity' item.id %}">
                    -
                </a>

                <span>{{ item.quantity }}</span>

                <a href="{% url 'increase_quantity' item.id %}">
                    +
                </a>

            </div>

                <p class="item-total">
                    Total Price: ₹{{ item.total_price }}
                </p>

                <a href="{% url 'remove_cart_item' item.id %}">
                    Remove
                </a>
            </div>

        </div>
        {% endfor %}
        <div class="cart-summary">

            <h3>Cart Summary</h3>

            <p>
                Subtotal: ₹{{ subtotal }}
            </p>

            <h2>
                Total: ₹{{ subtotal }}
            </h2>

        </div>

    </div>

    {% else %}

        <div class="empty-cart">

            <h2>Your cart is empty</h2>

        </div>

    {% endif %}

    <div class="cart-links">
        {% if cart_items %}
        <a href="{% url 'placed_order' %}">Place Order</a>
        {% endif %}

        <a href="{% url 'list_products' %}">
            Continue Shopping
        </a>

        <a href="{% url 'dashboard' %}">
            Return to Dashboard
        </a>


    </div>

{% endblock %}
